<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="pabel.png" type="image/x-icon" />
  <title>Facebook UID Extractor</title>
  <style>
  	* {
  		padding: 0;
  		margin: 0;
  	}
    body {
      font-family: Arial;
      text-align: center;
      padding: 20px;
      background-color: #f0f0f0;
      width: 60%;
      margin: auto;
      box-shadow: 0 0 10px black;
      border-radius: 5px;
      margin-top: 20px;
    }
    #fbLink {
    	width: 80%;
    	background: #f0f0f0;
    	border: 2px solid blue;
    	color: black;
    	font-size: 12px;
    	font-weight: bold;
    }
    #fbLink:focus{
    	border: 2px solid blue;
    }
    input, button {
      padding: 10px;
      font-size: 16px;
      margin: 10px 0;
      border: 0;
      background: blue;
      color: white;
      border-radius: 5px;
    }
    #result {
      font-weight: bold;
      margin-top: 20px;
      color: #333;
    }
    #copyBtn {
      margin-top: 10px;
      display: none;
      background-color: blue;
      color: white;
      border: none;
      cursor: pointer;
    }
    #copyBtn:hover {
      background-color: #45a049;
    }
    .link{
      display: flex;
      flex-direction: column;
    }
  </style>
</head>
<body>
  <h2>Extract Facebook UID</h2>
  <input type="text" id="fbLink" placeholder="Enter Facebook profile link">
  <br>
  <button onclick="extractUID()">Submit</button>

  <div id="result"></div>
  <button id="copyBtn" onclick="copyUID()">Copy UID</button>
  <br />
  <div class="link">
    <a href="/">TOTP Generator</a>
    <a href="/random">Random Name Generator</a>
  </div>
  <script>
    let currentUID = '';
    const fbLink = document.getElementById('fbLink');
    fbLink.addEventListener('focus', () => {
      fbLink.value = "";
    });
    function extractUID() {
      const link = document.getElementById('fbLink').value;
      const match = link.match(/id=([0-9]+)/);
      if (match && match[1]) {
        currentUID = match[1];
        document.getElementById('result').innerText = "UID: " + currentUID;
        document.getElementById('copyBtn').style.display = "inline-block";
      } else {
        document.getElementById('result').innerText = "Please enter a valid link!";
        document.getElementById('copyBtn').style.display = "none";
      }
    }

    function copyUID() {
      navigator.clipboard.writeText(currentUID).then(() => {
        alert("UID copied: " + currentUID);
      });
    }
  </script>
</body>
</html>