<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Data</title>
  <link rel="stylesheet" href="/styles.css"> <!-- External CSS if needed -->
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    table {
      width: 80%;
      margin: 0 auto;
      border-collapse: collapse;
      background-color: #fff;
    }
    th{
      padding: 12px;
    }
    td{
      padding: 0 5px;
      font-size: 10px;
    }
    .date{
      font-size: 5px;
    }
    th, td {
      text-align: left;
      border: 1px solid #ddd;
    }
    th {
      background-color: #4CAF50;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr:hover {
      background-color: #ddd;
    }
    button {
      padding: 5px 10px;
      font-size: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px 10px;
      margin: 2px;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <h1>Data from MongoDB</h1>
  
  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(function(item) { %>
        <tr>
          <td><%= item.code %></td>
          <!-- Format the date in the desired format -->
          <td class="date"><%= new Date(item.createdAt).toLocaleDateString('en-US', {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric'
              }) %></td>
          <td>
            <form method="post" action="/">
              <input type="hidden" name="secret" value="<%= item.code %>">
              <button type="submit">Details</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>